table{
    border: 1px solid gray;
    border-collapse: collapse;
}

td,th{
    border: 1px solid gray;
    width:160px;
}



#guild_name_callout{
    font-size: 24px;
    text-align: center;
}

#guild_progress{
   font-size: 16px;
    text-align: center;
}

#filter_controls{
    position: fixed;
    height:100px;
    top: 0;
    left: 0;
}

#guild_data{
    margin-top: 100px;
    overflow-y: auto;
    height: 100%;
}

html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}