table{
    border: 1px solid gray;
    border-collapse: collapse;
}

td,th{
    border: 1px solid gray;
    width:175px;
}

.totals {
    font-weight: bold;
}


#guild_name_callout{
    font-size: 24px;
    text-align: center;
}

#guild_progress{
   font-size: 16px;
    text-align: center;
}

#filter_controls{
    position: fixed;
    height:75px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

#guild_data{
    padding-top: 75px;
    padding-bottom: 15px;
}



html, body{
    margin: 0;
    height: 100%;
}

.filter_type{
    display: inline-block;
    margin: 0 10px;
}

.portrait{
    width: 128px;
    height: 128px;
}
