<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuildView</title>

    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/tmpl.js"></script>

    <link rel="stylesheet" href="/static/css/common.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />

    <script>
        window.onload = function () {
            var guild_id = getParameterByName("guild_id");


            if (guild_id){
                get_data(guild_id);
            }
        }
    </script>

    <script type="text/x-tmpl" id="character_data_template">
    {% for (var key in o) { %}
        <tr id='{%=replace_all(o[key].name, ' ', '_') %}' class= '{%= o[key].force_side %}_side character'>
        <td>
            <div><img class="portrait" src="{%= o[key].img_url %}" /></div>
            <div>{%= o[key].name %}</div>
            <div><style class="totals">Total: {%= o.[key].total_count %} ({%= o[key].total_gp %})</style>
        </td>
        {% for (var i = 1; i <= 7; i++) { %}
        <td class='{%= i %}_star'>
            {% for (var j = 0; j < o[key].star_counts[i].length; j++) { %}
            {%=format_entry(o[key].star_counts[i][j]) %}<br />
            {% } %}
            <style class="totals">Total: {%= o.[key].toon_count[i] %} ( {%= o.[key].power_count[i] %} )</style>  
        </td>
        {% } %}
        </tr>
    {% } %}

    </script>
</head>
<body>
    <div id="loading_image" class="centered">
        <div><img src="/static/img/loading.gif" /></div>
        <div class="center_text">Hold on, this may take a few seconds...</div>
        <div id="guild_progress"></div>
    </div>
    <div id="filter_controls" style="display:none">
        <div class="filter_type">
            <div>Unit:</div>
            <select id="character_list">
                <option value="all" selected>All</option>
            </select>
        </div>
        <!--
            <div class="filter_type">
                <div>Force Side:</div>
                <div>
                    Light Side: <input id="light_side_filter" type="checkbox" class="force_side_checkbox" checked data-force-side="light_side">
                    Dark Side: <input id="dark_side_filter" type="checkbox" class="force_side_checkbox" checked data-force-side="dark_side">
                </div>
            </div>
            -->
            <div class="filter_type">
                <div>Star Filter:</div>
                <select id="star-filter">
                    <option value="1" selected>1*+</option>
                    <option value="2">2*+</option>
                    <option value="3">3*+</option>
                    <option value="4">4*+</option>
                    <option value="5">5*+</option>
                    <option value="6">6*+</option>
                    <option value="7">7*</option>
                </select>
            </div>
        </div>
    <div id="guild_data" style="display:none">
        <table id="character_table">
                <thead>
                <tr>
                <th>Character</th>
                <th class="1_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="2_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="3_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="4_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="5_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="6_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="7_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                </tr>
                </thead>
            <tbody id="character_data"></tbody>
        </table>
    </div>

</body>
</html>
