<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuildView</title>

    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/tmpl.js"></script>

    <link rel="stylesheet" href="/static/css/common.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />

    <script>
        window.onload = function () {
            var guild_name = getParameterByName("guild_name");
            var guild_id = getParameterByName("guild_id");


            if (guild_name){
                document.getElementById("guild_name_callout").innerHTML = guild_name;
                get_data(guild_name, guild_id);
            }
        }
    </script>

    <script type="text/x-tmpl" id="character_data_template">
    {% for (var key in o) { %}
        <tr class= '{%= o[key].force_side %}_side'>
        <td>
            <div><img src="{%=o[key].img_url %}" /></div>
            <div>{%=o[key].name %}</div>
        </td>
        {% for (var i=1; i<=7; i++) { %}
        <td class='{%= i %}_star'>
            {% for (var j=0; j<=o[key].star_counts[i].length; j++) { %}
            <div>{%=o[key].star_counts[i][j] %}<div>
            {% } %}
        </td>
        {% } %}
        </tr>
    {% } %}

    </script>
</head>
<body>
    <div id="loading_image" class="centered">
        <div id="guild_name_callout"></div>
        <div><img src="/static/img/loading.gif" /></div>
        <div class="center_text">Hold on, this may take a few minutes...</div>
        <div id="guild_progress"></div>
    </div>
    <div id="filter_controls" style="display:none">
            <div>
                <div>Force Side:</div>
                <div>
                    Light Side: <input type="checkbox" class="force_side_checkbox" checked data-force-side="light_side">
                    Dark Side: <input type="checkbox" class="force_side_checkbox" checked data-force-side="dark_side">
                </div>
            </div>
            <div>
                <div>Star Filter:</div>
                <div>
                1: <input type="checkbox" class="star_filter_checkbox" checked data-col="1">
                2: <input type="checkbox" class="star_filter_checkbox" checked data-col="2">
                3: <input type="checkbox" class="star_filter_checkbox" checked data-col="3">
                4: <input type="checkbox" class="star_filter_checkbox" checked data-col="4">
                5: <input type="checkbox" class="star_filter_checkbox" checked data-col="5">
                6: <input type="checkbox" class="star_filter_checkbox" checked data-col="6">
                7: <input type="checkbox" class="star_filter_checkbox" checked data-col="7">
                </div>
            </div>
        </div>
    <div id="guild_data" style="display:none">
        <table id="character_table">
                <thead>
                <tr>
                <th>Character</th>
                <th class="1_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="2_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="3_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="4_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="5_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="6_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                <th class="7_star">
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                    <img src='http://swgoh.gg/static/img/star.png' />
                </th>
                </tr>
                </thead>
            <tbody id="character_data"></tbody>
        </table>
    </div>

</body>
</html>