<table>
    <thead>
        <tr>
            <th>Character</th>
            <th>1*</th>
            <th>2*</th>
            <th>3*</th>
            <th>4*</th>
            <th>5*</th>
            <th>6*</th>
            <th>7*</th>
        </tr>
    </thead>
    <tbody>
    {% for c in data %}
        <tr>
            <td>{{ data[c]["name"] }}</td>


        {% for s in range(1,8) %}
            <td>
                {% for m in data[c]["star_counts"][s] %}
                    {{ m["player"] }} ({{ m["power"] }})<br />
                {% endfor %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>